# Target ESP32-P4
CONFIG_IDF_TARGET="esp32p4"

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

# Allow allocating from SPIRAM with heap_caps_malloc
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

# MIPI DSI
CONFIG_SOC_MIPI_DSI_SUPPORTED=y

# Flash size
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Partition table
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# USB Host
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_USB_HOST_HW_BUFFER_BIAS_IN=y


